body {
    background-image: linear-gradient(white, black);
    text-align: center;
    
}
.topcontainer {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.name {
    color: black;
    font-size: larger;
    width: 500px;
    padding-right: 20px;
    padding-left: 50px;
   
    margin: auto;
    font-size: 60px;
}

.image {
    width: 170px;
    min-height: 150px;
    border: 8px solid black;
    border-radius: 80px;
    align-self: flex-end;
    margin-right: 100px;

    
}
.lastpart {
    color: white;
    background-color: black;
    text-align: start;
    text-transform: uppercase;
    margin-left: 100px;
    margin-right: 100px;

    

}



.link {
    color: azure;
}
.paragraph {
    margin-left: 100px;
    margin-right: 100px;
    text-align: start;

    


}
.header {
    display: flex;
    background-color: black;
    background-size: cover;
    height: 200px;
    margin-left: 100px;
    margin-right: 100px;

    
    
}
#image1 {
   
    width: 100px;
    height: 100px;
    margin-right: 100px;
    padding
    
    
    
    
}